.header {
  width: 100%;
  border-bottom: 2px solid $borderGrey;
}

.main {
  width: 100%;

  .container-main {
    margin: 10px auto;
    max-width: 965px;
  }

  .posts {
    margin: 10px auto;
    max-width: 965px;
  }
}
